/*/result.txt
/*/geometry.inf
/*/instrument.inf
/*/simulation.inf
/*/mon_*.dat
/*/output.dat
/*/noutput.dat

Bender_StraightFermiChopper/SurfaceS1_1.Log
Bender_StraightFermiChopper/gates.dat
DrabkinResonator/pex_lambdax.dat
DrabkinResonator/pex_lambday.dat
DrabkinResonator/pex_lambdaz.dat
DrabkinResonator/pin_lambdax.dat
DrabkinResonator/pin_lambday.dat
DrabkinResonator/pin_lambdaz.dat
EllipticalMirror/dist100.mdy
EllipticalMirror/dist100.mdz
EllipticalMirror/dist100.mtl
EllipticalMirror/dist100.mty
EllipticalMirror/dist100.pos
EllipticalMirror/guide_in.mtl
EllipticalMirror/source.pos
GravKomp_V4/lambda_pos_prism_1.dat
GravKomp_V4/lambda_pos_prism_2.dat
GravKomp_V4/lambda_pos_sample.dat
GravKomp_V4/z_divz_prism_1.dat
GravKomp_V4/z_divz_prism_2.dat
GravKomp_V4/z_divz_sample.dat
ILL_Diffractometer_D20_Model/DivY_AtSample.mon
ILL_Diffractometer_D20_Model/Lambda_PosY.mon
ILL_Diffractometer_D20_Model/Lambda_PosZ.mon
ILL_Diffractometer_D20_Model/PositionAfterFirstSpaceWindow.mon
ILL_Diffractometer_D20_Model/PositionBeforeSample.mon
ILL_Diffractometer_D20_Model/collim1.div
ILL_Diffractometer_D20_Model/elast_42_SynSample.dsp
ILL_Diffractometer_D20_Model/guide.mdy
ILL_Diffractometer_D20_Model/guide.mtl
ILL_Diffractometer_D20_Model/lamb_foc.dat
ILL_Diffractometer_D20_Model/monochr.mtl
ILL_Diffractometer_D20_Model/octogon.pos
ILL_Diffractometer_D20_Model/sample.mtl
ILL_Diffractometer_D20_Model/sample.pos
IN11/lambda0.dat
IN11/lambda1.dat
IN11/magneticmap1.dat
IN11/magneticmap2.dat
IN11/p_lambda0.dat
IN11/p_lambda1.dat
IN11/p_lambda2.dat
IN11/p_lambda3.dat
IN11/p_lambda4.dat
IN11/p_lambda5.dat
IRIS/guide_shape.dat
ISIS_Diffractometer_Wish_Model/LambdaAfterFirstChopper.mon
ISIS_Diffractometer_Wish_Model/LambdaAfterSThirdChopper.mon
ISIS_Diffractometer_Wish_Model/LambdaAfterSecondChopper.mon
ISIS_Diffractometer_Wish_Model/LambdaAtSamplePosition.mon
ISIS_Diffractometer_Wish_Model/ToF_vs_Lambda.mon
ISIS_Diffractometer_Wish_Model/eval_SynSample_sampe.eva
ISIS_Diffractometer_Wish_Model/lambda.dat
ParabolicLense/focus.mty
ParabolicLense/focus.mtz
ParabolicLense/focus.pos
ParabolicLense/lense.mty
ParabolicLense/lense.pos
ParabolicLense/lense.ydy
ParabolicLense/source.pos
Reflectometer/eval_q.dat
Reflectometer/guide_shape.dat
Reflectometer/lambda.dat
Reflectometer/time.dat
SampleNXS/lambda_2.dat
SampleNXS/lambda_open.dat
SampleSANS/sans_lambda.dat
SampleSANS/spectsans.dat
SampleSQ/elast.eva
SampleSQ/lambda.dat
SingleCrystalDiffr/div.dat
SingleCrystalDiffr/divy.dat
SingleCrystalDiffr/divz.dat
SingleCrystalDiffr/lambda_s.dat
SingleCrystalDiffr/pos.dat
SingleCrystalDiffr/time_source.dat
SingleCrystalDiffr/times.dat
TOPAS_NCrystal_water/energysp_down.eva
TOPAS_NCrystal_water/energysp_up.eva
TOPAS_NCrystal_water/inelastic.dat
TOPAS_NCrystal_water/noutascii_after.dat
TOPAS_NCrystal_water/noutascii_before.dat
TOPAS_NCrystal_water/postFC1.lda
TOPAS_NCrystal_water/postFC2.tim
TOPAS_NCrystal_water/sample.lda
TOPAS_NCrystal_water/tofsp_down.eva
TOPAS_NCrystal_water/tofsp_up.eva
FlipperGradient/pex_lambdax.dat
FlipperGradient/pex_lambday.dat
FlipperGradient/pex_lambdaz.dat
FlipperGradient/pin_lambdax.dat
FlipperGradient/pin_lambday.dat
FlipperGradient/pin_lambdaz.dat
IRIS/irisergsp.dat
IRIS/iristofsp.dat
RotatingField_NRSE/699p_pos.dat
RotatingField_NRSE/699pex-nrsex.dat
RotatingField_NRSE/699pex-nrsey.dat
RotatingField_NRSE/699pex-nrsez.dat
RotatingField_NRSE/pin_nrsex.dat
RotatingField_NRSE/pin_nrsey.dat
RotatingField_NRSE/pin_nrsez.dat
RotatingField_NRSE/psm_nrsex.dat
RotatingField_NRSE/psm_nrsey.dat
RotatingField_NRSE/psm_nrsez.dat
