build/
install/

CMakeCache.txt
CMakeFiles/
Makefile
NCrystalConfig.cmake
NCrystalConfigVersion.cmake
_nclibpath.py
_nclibpath.py.in
cfg_ncrystal_libname.txt
cmake_install.cmake
ncrystal-config
ncrystal_core_include_configured/
test_dtagflags/
test_libm/
test_libm2/
