
body { font-size: 100%; font-family: Times; color: #222; background-color: #fff;}
td,
th,
input,
select,
textarea,
p,
div { font-family: Times; letter-spacing: 0em; vertical-align: top; }
img { border: 0px; }

ol,
ul { margin-left: 0px; margin-top: -0.3em; margin-bottom: 1.3em; padding: 0px; }
ul li	{ margin-left: 17px; }
ol li	{ margin-left: 30px; }
ol, ul ol { list-style: decimal; }
form 	  { margin: 0px; }

h1 { font-family: Arial, Helvetica, sans-serif; font-size: 140%; }
h2 { font-family: Arial, Helvetica, sans-serif; font-size: 110%; }
h3 { font-family: Arial, Helvetica, sans-serif; }
h4 { font-family: Arial, Helvetica, sans-serif; }

a,
a:link,
a:active  { color: #002d73; text-decoration: none; }
a:visited { color: #35638e; text-decoration: none; }
a:hover	  { color: #002d73; text-decoration: underline; }
a:visited:hover	{ color: #002d73; text-decoration: underline; }
