/*/result.txt
/*/geometry.inf
/*/instrument.inf
/*/simulation.inf
/*/*_out.dat
!/*/*_out-ref.dat
/*/gates.dat
/*/bender.Log
/*/*.log
/*/screen.pos
/EvalSans-2_Lambda/screen.emt
/Mono-1_5-Layers/Mono-5Layers.dat
/Mono-2_TransmR/Mono-3Layers.dat
/Mono-3_PST/MonoPST.dat
/Mono-5_Rotation/Mono-RotCyl.dat
/Mono-6_DoubleFoc/Mono-DblFoc.dat
/PolSM-4/p_lambda.dat
